apiVersion: apps/v1
kind: Deployment
metadata:
  generation: 5
  labels:
    app: flask-app
  name: flask-app
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: flask-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: flask-app
    spec:
      containers:
      - name : flask-app-name
        image: dynamic-image
        imagePullPolicy: Always
        command: ["/bin/sh","-c"]
        args: ["flask run -h 0.0.0.0 -p 8080"]
        ports:
        - containerPort: 8000
          protocol: TCP
        resources:
          limits:
            cpu: 1
            memory: 500Mi
          requests:
            cpu: 15m
            memory: 250Mi
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30