apiVersion: apps/v1
kind: Deployment
metadata:
  generation: 5
  labels:
    app: flask-app
  name: flask-app
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: flask-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: flask-app
    spec:
      containers:
      - image: asia-south1-docker.pkg.dev/stoked-dominion-384207/images/python:0095992240a1aa0d154d7b97c2e5e0701313d2a5
        imagePullPolicy: Always
        command: ["/bin/sh","-c"]
        args: ["python manage.py cloneRepo && python manage.py shell_plus --notebook"]
        ports:
        - containerPort: 8000
          protocol: TCP
        resources:
          limits:
            cpu: 1
            memory: 500Mi
          requests:
            cpu: 15m
            memory: 250Mi
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
